<!DOCTYPE html>
<html>
    <head>
        <title>Time For a Change | Store</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <header class="main-header">
            <h1 class="brand-name">Time For a Change</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">WATCHES</h2>
            <div class="shop-items">
                <div class="shop-item" data-item-id="1">
                    <span class="shop-item-title">Watch 1</span>
                    <img class="shop-item-image mb" src="/images/Watch 1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$149.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item" data-item-id="2">
                    <span class="shop-item-title">Watch 2</span>
                    <img class="shop-item-image mb" src="../Images/Watch 2.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$129.99</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item" data-item-id="3">
                    <span class="shop-item-title">Watch 3</span>
                    <img class="shop-item-image mb" src="../Images/Watch 3.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$179.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item" data-item-id="4">
                    <span class="shop-item-title">Watch 4</span>
                    <img class="shop-item-image mb" src="images/Watch 4.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$199.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">BRACELETS</h2>
            <div class="shop-items">
                <div class="shop-item" data-item-id="5">
                    <span class="shop-item-title">Bracelet 1</span>
                    <img class="shop-item-image" src="images/Bracelet 1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$39.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item" data-item-id="6">
                    <span class="shop-item-title">Bracelet 2</span>
                    <img class="shop-item-image" src="images/Bracelet 2.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$29.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="brand-name-small">Time For a Change</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="images/Youtube Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.spotify.com" target="_blank">
                            <img src="images/Spotify Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>

        <script src="/store.js"></script>
    </body>
</html>