@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    font-family: 'Source Sans Pro';
    color: #777;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 2.5rem auto;
    padding: 0 1.5em;
}

h1 {
    font-weight: normal;
    font-size: 2.5rem;
}

p {
    margin-bottom: 20px;
}

a {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    color: white;
    background-color: #56CCF2;
    font-weight: bold;
    border: none;
    border-radius: .3em;
    text-decoration: none;
}
a:hover {
    background-color: #2D9CDB;
}